<div id='notDevoured'>
	<h2>Not Devoured</h2>
	{{#each burgerEntry}}
		{{#unless devoured}}
		<div class='entry'>
			{{id}}. {{burgerName}} <button class='devourBtn' id={{id}}>Devour It!</button>
		</div>
		{{/unless}}
	{{/each}}
</div>

<div id='devoured'>
	<h2>Devoured</h2>
	{{#each burgerEntry}}
		{{#if devoured}}
		<div class='entry'>
			{{id}}. {{burgerName}}
		</div>
		{{/if}}
	{{/each}}
</div>		

<form>
	<textarea placeholder="Enter Burger Name Here"></textarea>

	<button id='submit'>Submit</button>
</form>


